body{background:#006600;
} 
.navigationbar{
margin:0; 
paddng:0;
display:flex; 
justify-content:top;
align-items:top;
height:18vh;  
}
ul{ 
margin:0; 
padding:0; 
display:flex; 
} 
ul li { 
list-style:none; 
margin:25px; 
height:10px;
transition: 0.5s; 
} 
ul li a { 
display:block; 
position:relative; 
text-decoration:none; 
-webkit-text-stroke:2px #66ff66;
padding:5px; 
font-size:35px; 
font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif" ; 
color:black; 
text-transform:uppercase; 
transition:0.5s; 
} 
ul li a:hover  
{ transform:scale(1.5); 
	opacity: .2; 
	filter: blur(0);
}
ul li a:hover { 
transform:scale(2); 
opacity: 1; 
filter: blur(3px);
} 
ul li a:before { 
content:'' ; 
position: absolute; 
top: 0; 
left:0;
width:100%; 
height:100%; 
bacground:#0d0d0d ; 
transform-orgin:right; 
transform: scaleX(0); 
z-index: -1;
}
ul li a:hover:before{transition:0.5s; 
	transform-orgin:left;
	transform:scaleX(0); 
}
p{
  margin:15px;
  padding-top:15px;
  font-size:21px;
}

   


.xboxcustoms { height: 359px; 
	width: 494px; 	
}
.evolutionofxboxcontroller { height: 359px; 
	width: 494px;
}
.about{ text-decoration:underline; } 
.XBOXFEATURES {text-decoration:underline;
}
